stages:
  - build
  - deploy

variables:
  SSH_KEY: "/home/devops/.ssh/id_rsa"
  APP_SERVER: "10.0.0.7"
  WEB_SERVERS: "10.0.0.8 10.0.0.9"
  DOCKER_IMAGE_BACKEND: "metrics-backend"
  DOCKER_IMAGE_FRONTEND: "metrics-frontend"
before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - ssh-add /home/gitlab-runner/.ssh/id_rsa
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H 10.0.0.7 >> ~/.ssh/known_hosts
  - ssh-keyscan -H 10.0.0.8 >> ~/.ssh/known_hosts
  - ssh-keyscan -H 10.0.0.9 >> ~/.ssh/known_hosts

# For backend
build-backend:
  stage: build
  tags:
    - shell
  script:
    - echo "Building backend Docker image on app-server..."
    - ssh devops@$APP_SERVER "
        if [ ! -d ~/metrics-backend ]; then
          git clone https://github.com/Pippah1/metrics-build.git ~/metrics-backend;
        else
          cd ~/metrics-backend && git pull;
        fi &&
        cd ~/metrics-backend/server &&
        docker build -t $DOCKER_IMAGE_BACKEND .
      "

deploy-backend:
  stage: deploy
  tags:
    - shell
  script:
    - echo "Deploying backend container on app-server..."
    - ssh devops@$APP_SERVER "docker stop metrics-backend || true && docker rm metrics-backend || true"
    - ssh devops@$APP_SERVER "docker run -d --name metrics-backend -p 3000:3000 $DOCKER_IMAGE_BACKEND"

# For frontend
build-frontend:
  stage: build
  tags:
    - shell
  script:
    - for server in $WEB_SERVERS; do
        echo "Building frontend Docker image on $server...";
        ssh devops@$server "
        if [ ! -d ~/metrics-frontend ]; then
          git clone https://github.com/Pippah1/metrics-build.git ~/metrics-frontend;
        else
          cd ~/metrics-frontend && git pull;
        fi &&
        cd ~/metrics-frontend/client &&
        docker build -t $DOCKER_IMAGE_FRONTEND .
      ";
      done

deploy-frontend:
  stage: deploy
  tags:
    - shell
  script:
    - for server in $WEB_SERVERS; do
        echo "Deploying frontend container on $server...";
        ssh devops@$server "docker stop metrics-frontend || true && docker rm metrics-frontend || true";
        ssh devops@$server "docker run -d --name metrics-frontend -p 5173:5173 $DOCKER_IMAGE_FRONTEND";
      done