stages:
  - build
  - deploy
  - load-test
  - rollback

variables:
  SSH_KEY: "/home/devops/.ssh/id_rsa"
  APP_SERVER: "10.0.0.7"
  WEB_SERVERS: "10.0.0.8 10.0.0.9"
before_script:
  - 'which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )'
  - eval $(ssh-agent -s)
  - ssh-add /home/gitlab-runner/.ssh/id_rsa
  - mkdir -p ~/.ssh
  - chmod 700 ~/.ssh
  - ssh-keyscan -H 10.0.0.7 >> ~/.ssh/known_hosts
  - ssh-keyscan -H 10.0.0.8 >> ~/.ssh/known_hosts
  - ssh-keyscan -H 10.0.0.9 >> ~/.ssh/known_hosts

# For backend
build-backend:
  stage: build
  tags:
    - shell
  script:
    - echo "Building backend Docker image on app-server..."
    - ssh devops@$APP_SERVER "
        if [ ! -d ~/metrics-backend ]; then
          git clone https://github.com/Pippah1/metrics-build.git ~/metrics-backend;
        else
          cd ~/metrics-backend && git pull;
        fi &&
        cd ~/metrics-backend/server &&
        docker build -t metrics-backend:$CI_COMMIT_SHORT_SHA .
      "

deploy-backend:
  stage: deploy
  tags:
    - shell
  script:
    - echo "Deploying backend container on app-server..."
    - ssh devops@$APP_SERVER "docker stop metrics-backend || true && docker rm metrics-backend || true"
    - ssh devops@$APP_SERVER "docker run -d --name metrics-backend -p 3000:3000 metrics-backend:$CI_COMMIT_SHORT_SHA"

# For frontend
build-frontend:
  stage: build
  tags:
    - shell
  script:
    - |
      for server in $WEB_SERVERS; do
        echo "Building frontend Docker image on $server..."
        ssh devops@$server '
          NAME=$(hostname)

          if [ ! -d ~/metrics-frontend ]; then
            git clone https://github.com/Pippah1/metrics-build.git ~/metrics-frontend
          else
            cd ~/metrics-frontend && git pull
          fi

          cd ~/metrics-frontend/client
          docker build --build-arg VITE_WEB_SERVER_NAME="$NAME" -t $NAME:$CI_COMMIT_SHORT_SHA .
        '
      done

deploy-frontend:
  stage: deploy
  tags:
    - shell
  script:
    - |
      for server in $WEB_SERVERS; do
        echo "Deploying frontend container on $server..."
        ssh devops@$server '
          NAME=$(hostname)

          docker stop "$NAME" || true
          docker rm "$NAME" || true

          docker run -d --name "$NAME" -p 5173:5173 "$NAME:$CI_COMMIT_SHORT_SHA"
        '
      done

k6-load-test:
  stage: load-test
  tags:
    - docker
  before_script: []
  image:
    name: grafana/k6:latest
    entrypoint: [""]
  script:
    - echo "Running k6 load test against load balancer..."
    - k6 run k6/loadtest.js
    -  - ssh devops@$APP_SERVER "echo '${CI_COMMIT_SHORT_SHA:-latest}' > ~/last-successful-backend.txt"
    - |
      for server in $WEB_SERVERS; do
        ssh devops@$server "echo '${CI_COMMIT_SHORT_SHA:-latest}' > ~/last-successful-frontend.txt"
      done
  rules:
    - if: $CI_COMMIT_BRANCH == "main"

rollback-backend:
  stage: rollback
  tags:
    - shell
  script:
    - echo "Rolling back backend..."
    - ssh devops@$APP_SERVER '
        OLD_FILE=~/last-successful-backend.txt
        if [ -f "$OLD_FILE" ]; then
          OLD=$(cat "$OLD_FILE")
          docker stop metrics-backend || true
          docker rm metrics-backend || true
          docker run -d --name metrics-backend -p 3000:3000 metrics-backend:$OLD
        else
          echo "No previous successful backend version found!"
        fi
      '
  when: on_failure

rollback-frontend:
  stage: rollback
  tags:
    - shell
  script:
    - echo "Rolling back frontend..."
    - |
      for server in $WEB_SERVERS; do
        echo "Rolling back frontend on $server..."
        ssh devops@$server '
          NAME=$(hostname)
          OLD_FILE=~/last-successful-frontend.txt
          docker stop "$NAME" || true
          docker rm "$NAME" || true
          if [ -f $OLD_FILE ]; then
            OLD=$(cat $OLD_FILE)
            docker run -d --name "$NAME" -p 5173:5173 "$NAME:$OLD"
          else
            echo "No previous successful frontend version found!"
          fi
        '
      done
  when: on_failure